{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' or template contains 'blog' -%}
  {%- assign t = template | split: '.' | first -%}
  <div class="breadcrumbs">
    <div class="container">
      <ul class="items">
        <li class="item home">
          <a href="/" title="Go to Home Page">Home</a>
        </li>
        {%- case t -%}
          {%- when 'page' -%}
            <li class="item cms_page">
              <strong>{{ page.title }}</strong>
            </li>
          {%- when 'product' -%}
            {% if collection %}
              {% if collection.handle %}
                {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                <li class="item home">{{ collection.title | link_to: url , class: 'custom-class' }}</li>
              {% endif %}
            {% endif %}
            <li class="item product">
              <strong>{{ product.title }}</strong>
            </li>
          {%- when 'collection' and collection.handle -%}
            {%- if current_tags -%}
              <li class="item">
                {{ collection.title | link_to: collection.url }}
              </li>
              <li class="item">
                {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
                <a href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
              </li>
            {%- else -%}
              <li class="item">
                <strong>{{ collection.title }}</strong>
              </li>
            {%- endif -%}
          {%- when 'article' -%}
            <li class="item tm_blog">
              {{ blog.title | link_to: blog.url }}
            </li>
            <li class="item tm_blog_post">
              <strong>{{ article.title }}</strong>
            </li>
          {%- else -%}
            <li class="item else_vali">
              <a href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
            </li>
        {%- endcase -%}
      </ul>
    </div>
  </div>
{%- endunless -%}