<div class="item product product-item product-tile-container wishlist-tile-container" data-product-id="{{ product.id }}" data-product-handle="{{ product.handle }}">
  <div class="product-tile wishlist-tile">
    <div class="product-tile--tile-media">
      <a class="tile-media--media-link" href="{{ product.url }}">
        <div class="media-link--image">
          <img class="image--main" src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.title }}">
        </div>
      </a>
    </div>
    {%- comment -%}
    <div class="product-tile--tile-content flex">
      <div class="tile-content--text">
        <p class="text--title black">{{ product.title }}</p>
        {% if product.compare_at_price > product.price %}
          <p class="text--price">
            <span class="price--compare strike-through">{{ product.compare_at_price | money }}</span> <span class="price--sale">{{ product.price | money }}</span>
          </p>
        {% else %}  
          <p class="text--price">{{ product.price | money }}</p>
        {% endif %}
      </div>
      <div class="product-tile--tile-actions flex">
        <a href="#" class="action towishlist wishlist-btn" data-product-handle="{{ product.handle }}" data-action="add-to-wishlist">
            <span>Add to Wish List</span>
        </a>
        <a class="action--quick-cart tile-actions--btn flex cart-btn" href="/cart/add?id={{ product.selected_or_first_available_variant.id }}&quantity=1">Add To Cart</a>
      </div>
    </div>
    {%- endcomment -%}

    <div class="product details product-item-details">
      <strong class="product name product-item-name" itemprop="name">
          <a class="product-item-link" href="{{ product.url }}">{{ product.title }}</a>
      </strong>
      <div class="price-box price-final_price" data-role="priceBox">
          <span class="price-container price-final_price tax weee">
              <span data-price-amount="{{product.price_min | money_without_currency}}" data-price-type="finalPrice" class="price-wrapper">
                  <span class="price">{{product.price_min | money}}</span>
              </span>
          </span>
      </div>
      <div class="product-tile--tile-actions d-flex align-items-center">
        <a href="#" class="action towishlist wishlist-btn pr-3" data-product-handle="{{ product.handle }}" data-action="add-to-wishlist">
            <span>Add to Wish List</span>
        </a>
        <a class="action--quick-cart btn btn-primary tile-actions--btn flex cart-btn" href="/cart/add?id={{ product.selected_or_first_available_variant.id }}&quantity=1">Add To Cart</a>
      </div>
    </div>

  </div>  
</div>