<div class="full-width-container wishlist-container">
  <!-- Hero Banner -->
  <div class="wishlist-hero page-title-wrapper">
    <div class="container">
      <h1 class="wishlist-hero--title page-title" id="page-title-heading">{{ page.title }}</h1>
    </div>
  </div>
  <!-- Product Tile Grid -->
  <div class="column main container">
    <div class="wishlist-grid products wrapper grid products-grid layout_1">
      <div class="products list items product-items">
        {% paginate collections.all.products by 9999 %}
          {% for product in collections.all.products %}
            {% include 'product-tile' %}
          {% endfor %}
        {% endpaginate %}
      </div>
      <div class="wishlist-grid--empty-list flex">
        <div class="empty-list--info">
          <h6 class="empty-list--text black">Looks like you haven't started a wishlist yet...</h6>
          <a class="btn empty-list--btn" href="/collections/all">Start Shopping</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Loader -->
  <div class="wishlist-loader">
    <img class="wishlist-loader--image" src="https://cdn.shopify.com/s/files/1/0371/8086/6605/files/loader.gif?v=1594448666" alt="Wishlist loading">
    <!-- <p class="wishlist-loader--text">Loading your customized wishlist...</p> -->
  </div>
</div>